* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}

.nav {
    list-style-type: none;
}

.nav ul {
    list-style-type: none;
    overflow: hidden;
}

.nav ul li {
    float: left;
}

.nav ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
}

nav.main-nav ul {
    background-color: #226B80;
    position: fixed;
    top: 0;
    width: 100%;
}

nav.main-nav ul li a {
    color: lightgrey;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
}

nav.main-nav ul li a.active {
    color: white;
}

nav.main-nav ul li a:hover:not(.active) {
    color: white;
}

.expo {
    margin-top: 5em;
    height: 40em;
    width: 100%;
}

.expo h1 {
    font-size: 1.75rem;
    padding-left: 0.5em;
    padding-top: 0.5em;
}

.expo article {
    padding-left: 20%;
    padding-top: 9%;
}

.techniques {
    background-color: #F8F9FA;
    height: 25em;
    width: 50%;
    float: left;
    outline: 0.25em solid white;
}

.techniques h1 {
    font-size: 1.75rem;
    padding-left: 0.5em;
    padding-top: 0.5em;
}

.techniques article {
    padding-left: 5%;
    padding-top: 5%;
}

footer {
    background-color: #f7f7f7;
    height: 10em;
    width: 100%;
    top: 100;
    clear: both;
}

nav.footer-nav ul {
    padding-top: 1em;
    margin-left: 2em;
}

nav.footer-nav ul li a {
    color: black;
    font-size: 12px;
    font-weight: bold;
    margin-right: 0.5em;
    margin-top: 0.5em;
}

footer p {
    font-size: 12px;
    margin-left: 2.7em;
}

footer.fixed {
    position: fixed;
    bottom: 0px;
    left: 0px;
}

div.upload-form form {
    width: 600px;
    height: 300px;
    border: 2px dashed #226B80;
    border-radius: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15em;
}

div.upload-form form input[type=file] {
    position: absolute;
    height: 300px;
    width: 600px;
    outline: none;
    opacity: 0;
}

#formInfo {
    display: block;
    text-align: center;
    line-height: 300px;
}

div.share {
	width: 35em;
	margin: 0 auto;
	padding-top: 15%;
}

.share input[type=url] {
	width: 85%;
	font-size: 1em;
}

.decode-form {
	width: 35em;
	margin: 0 auto;
	padding-top: 15%;
}

.decode-form input[type=password] {
	width: 33em;
	float: left;
}

.decode-form input[type=submit] {
	border: 1px solid #226B80;
	margin-left: 0.5em;
	padding-left: 5px;
	padding-right: 5px;
}
